body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    height: 500px;
    padding-bottom: 250px;
}
span{
    color: orangered;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon, orangered);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.image-size{
    height: 600px;
}
.third-part{
    text-align: center;
}
.second-part{
    background-image: url(images/Frame\ 57.jpg);
}
.one-third-width{
    float: left;
    width: 25%;
    margin-left: 3.5%;
    padding: 2%;
}
.one-third-width img{
    width: 100%;
}
.shadow{
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
}
